<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Title</key>
		<string>动画效果相关section</string>
		<key>Elements</key>
		<array>
			<dict>
				<key>Title</key>
				<string>AnimationsExplained</string>
				<key>ViewController</key>
				<string>AnimationsExplainedViewController</string>
			</dict>
			<dict>
				<key>Title</key>
				<string>Animating the Drawing of a CGPath With CAShapeLayer</string>
				<key>ViewController</key>
				<string>CAShapeLayerDrawingViewController</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
